/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

#root {
  height: 100%;
  width: 100%;
}

Provider {
  height: 100%;
  width: 100%;
}
Provider div {
  height: 100%;
  width: 100%;
}
