.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  height: 90%;
  text-align: center;
}

.avatar {
  width: 90px;
  height: 90px;
  margin: 10% 0;
  background-color: #001529;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
