.header {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 4%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  display: flex;
  text-align: center;
  align-items: center;
}

.icon {
  width: 50%;
  height: 50%;
  padding: 0;
  vertical-align: middle;
}
